@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Tint&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=New+Amsterdam&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clock-container {
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

.clock {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	position: relative;
	font-size: 20px;
	font-family: "Archivo Black", sans-serif;
	color: #fff;
	background-color: #000;
	border: 10px double #fff;
}

.clock p {
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform-origin: 0% 100%;
	padding-bottom: 45%;
	color: #fff;
}

.clock-one {
	transform: rotate(30deg)
}

.clock-one span {
	position: absolute;
	rotate: -30deg;
	transform: translate(25%, -50%);
}

.clock-two {
	transform: rotate(60deg)
}

.clock-two span {
	position: absolute;
	rotate: -60deg;
	transform: translate(50%, -50%);
}

.clock-three {
	transform: rotate(90deg)
}

.clock-three span {
	position: absolute;
	rotate: -90deg;
	transform: translate(50%, -25%);
	font-size: 50px;
}

.clock-four {
	transform: rotate(120deg)
}

.clock-four span {
	position: absolute;
	rotate: -120deg;
	transform: translate(100%, 0%);
}

.clock-five {
	transform: rotate(150deg)
}

.clock-five span {
	position: absolute;
	rotate: -150deg;
	transform: translate(100%, 25%);
}

.clock-six {
	transform: rotate(180deg)
}

.clock-six span {
	position: absolute;
	rotate: -180deg;
	transform: translate(50%, 25%);
	font-size: 50px;
}

.clock-seven {
	transform: rotate(210deg)
}

.clock-seven span {
	position: absolute;
	rotate: -210deg;
	transform: translate(25%, 50%);
}

.clock-eight {
	transform: rotate(240deg)
}

.clock-eight span {
	position: absolute;
	rotate: -240deg;
	transform: translate(-50%, 50%);
}

.clock-nine {
	transform: rotate(270deg)
}

.clock-nine span {
	position: absolute;
	rotate: -270deg;
	transform: translate(-50%, 25%);
	font-size: 50px;
}

.clock-ten {
	transform: rotate(300deg)
}

.clock-ten span {
	position: absolute;
	rotate: -300deg;
	transform: translateX(-50%);
}

.clock-eleven {
	transform: rotate(330deg)
}

.clock-eleven span {
	position: absolute;
	rotate: -330deg;
	transform: translateX(-50%);
}

.clock-twelve {
	transform: rotate(360deg)
}

.clock-twelve span {
	position: absolute;
	rotate: -360deg;
	transform: translate(-50%, -25%);
	font-size: 50px;
}




.arrow-hours {
	width: 8px;
	height: 130px;
	background-color: #fff;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: 0 100%;
	rotate: y -90deg;
}

.arrow-minutes {
	width: 4px;
	height: 150px;
	background-color: #fff;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: 0 100%;
}

.arrow-seconds {
	width: 2px;
	height: 150px;
	background-color: #fff;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: 0 100%;
}

.center {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.clock-digital-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.clock-digital {
	width: 150px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 18px;
	font-family: "Archivo Black", sans-serif;
	border: 5px outset #000;
}